.detail{
    background-image: url(./../Home/resources/form.jpg);
    background-size: cover; 
    background-color: #a19e9e;
    display: grid;
    align-items: center;
    justify-items: center;
width: 100%;
min-height: 890px;
}

.pokeDetail h1{
    font-family: 'Small Pixel-7';
    font-size: 65px;
    font-weight: lighter;
    padding: 0%;
    margin: 0%;
}

.pokeDetail{
    font-family: 'Small Pixel-7';
    backdrop-filter: blur(16px) saturate(180%);
    color: aliceblue;
    background-image: './background.png';
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 64px;
    margin: 25px;
    width: 35rem;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
}
.pokeDetail .types{
    display: inline;
}
.pokeDetail p{
    font-size: 30px;
    margin: 0%;
}
.pokeDetail img{
    padding: 5%;
    width: 11rem;
    margin-bottom: 0%;
}

.detail .gif{
    border-radius: 35%;
}
.deleteButton{
    width: 30px;
    background-color: #ff00006e;
    border-radius: 15px;
}

.pokeData{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.butHome{
    cursor: pointer;
    margin-bottom: 30px;
    font-family: 'Small Pixel-7';
    font-size: 25px;
}

@media screen and (max-width: 820px){
    .pokeDetail{
        width: 15rem;
        height: 35rem;
    }
    .pokeDetail h1{
        font-size: 35px;
        margin: 5px;
    }
    .pokeDetail p{
        font-size: 22px;
    }
}