/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    font-family: 'Press Start 2P', cursive;
} */

@font-face {
  font-family: 'Small Pixel-7';
  src: url('./small_pixel-7.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
.home{
    background-image: url(./resources/form.jpg); 
    background-size: cover;
    background-color: #79caf9;
    background-repeat: no-repeat;
    text-decoration: none;
}


.cards{
    max-width: 100%;
    display: flex;
    padding: 0px;
    justify-content: space-around;
    margin: 0%;
    flex-wrap: wrap;
    text-decoration: none;
}
a{
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    max-width: 100%;
}
.cardsError{
    background-color: rgba(237, 50, 55, 0.2);
    background-size: 400% 400%;
    border-radius: 5%;
    margin: 0%;
    width: 20em;
    height: 24em;
    padding: 0.2em;
    box-shadow: 1px 1px 2px #d2b1b1,
                    -1px -1px 2px #e6c8c8;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Small Pixel-7';
    font-size: 1rem;
}
.cardsError img{
    width: 8em;
}
.cardsError button{
    cursor: pointer;
    margin: 5px;
    border: 2px solid black;
    border-radius: 12rem;
    font-family: 'Small Pixel-7';
    font-size: 20px;
}

.navBar{
    background-image: url('./pokeball.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 10%;
}
.butAgain{
    display: flex;
    padding: 50px;
    padding-bottom: 0px;
    margin: 0%;
    justify-content: space-evenly;
}

.butAgain button {
    border: 2px solid black;
    font-family: 'Small Pixel-7';
    font-size: 30px;
    padding: 0.5em 1.2em;
    background: rgb(73, 72, 72);
    color: white;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 0.6em;
    cursor: pointer;
    margin: 0%;
}
   
.butAgain  .label {
    position: relative;
    top: -1px;
}  
.butAgain  .transition {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgb(0, 4, 255, 0.594);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
   
.butAgain button:hover .transition {
    width: 14em;
    height: 14em;
}
   
.butAgain  button:active {
    transform: scale(0.90);
}

.linkedin:hover{
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 500ms;
        background-color: #0a66c2;
        border-radius: 9999px;
}
.filtrados{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: space-around;
    margin-bottom: 0%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
}


.filtrados select{
    cursor: pointer;
    border: 2px solid black;
    font-family: 'Small Pixel-7';
    margin: 0.5%;
    width: 190px;
    height: 1.8em;
    font-size: 30px;
    border-radius: 25px;
    background-color: rgb(73, 72, 72);
    color: rgb(255, 250, 250);
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 0.1rem rgb(170,165,191);
}

.filtrados option{
    cursor: pointer;
    background-color: rgb(73, 72, 72);
    font-size: 20px;
}

.searchBar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 0%;
    padding-right: 50px;
    margin: 0%;
}

@media screen and (max-width: 820px){
    .cardsError{
        width: 150px;
        height: 220px;
    }
    .cardsError img{
        width: 2.7rem;
        margin-bottom: 0.1rem;
        margin-top: 0.2rem;
    }
    .cardsError h1{
        font-size: 1rem;
    }
    .butAgain{
        margin: 0%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        padding: 14px;
    }
    .butAgain button{
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: center;
        padding: 5px;
        font-size: 25px;
        border-radius: 5px;
        margin: 1%;
    }
    .filtrados{
        margin: 0%;
    }
    .filtrados select{
        font-size: 25px;
        width: fit-content;
        display: flex;
        flex-direction: row;
    }
    .searchBar{
        display: flex;
        flex-wrap: wrap;
        margin: 0%;
        padding: 5px;
        width: 80%;
    }
}


